body {
background-color: red;
margin: 2%;
padding: 2%;
}

.container {
    display: flex;
    flex-wrap: auto;
    height: 100%;
    width: 100%;
}

#weatherBox {
    border-style: solid;
    display: inline-flex;
    margin: 5% auto;
    height: 70vh;
    width: 70vw;
}

button {
  clear: both;
  display: block;
  margin: 2% auto 2%;
  width:200%;
  height: 10%;
  min-height: 30px;
  background-color: #4a1154;
  border-radius: 5%;
  color:  #e0c8c8;
  font-size: larger;
  font-family: sans-serif;
  border-color: rgba(173, 148, 148, 0.58)
}
